# Xcode
#
# gitignore for Xcode projects
#

## Build generated
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.moved-aside
*.xccheckout
*.xcscmblueprint

## User settings
xcuserdata/

## compatibility with Xcode 8 and earlier
*.xcscmblueprint
*.xccheckout

## compatibility with Xcode 3 and earlier
*.perspectivev3
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj

# CocoaPods
#
Pods/

# Carthage
#
Carthage/Build/

# fastlane
#
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
#
iOSInjectionProject/
